
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img src="/Assets/Admin/img/profile_small.jpg" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:void(0)">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">{{authentication.userName}}</strong>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="logo-element">
                    POS
                </div>
            </li>
            <li class="active">
                <a ui-sref="ecn_material_codes"><i class="fa fa-th-large"></i> <span class="nav-label">POS Self Service</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="active"><a>Home</a></li>
                    <li><a>About</a></li>
                    <li><a>Contact</a></li>
                </ul>
            </li>

        </ul>

    </div>
